<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generator</title>
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>

    <form action="greet" method="post">
        <div class="quiz-container">
            <div class="quiz-header">

                <h2>Genera tu Password</h2>
                
                {% for message in get_flashed_messages() %}
                <p class="quiz-header">{{ message }}</p>
                {% endfor %}


            </div>

            <button>Generar</button>
            
        </div>

    </form>
    
</body>
</html>